<%- include("partials/header"); %>
<h1><%= title %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore nihil
      error enim ratione provident vero deserunt excepturi, quia repudiandae
      nemo quidem cum cumque odit quam sed neque reprehenderit impedit tenetur,
      corporis dolores minima culpa quae. Voluptatum provident neque, tempore
      blanditiis perspiciatis fugit. Blanditiis doloribus itaque laudantium
      fugiat dolorum nulla quis voluptatem corporis at est quibusdam fugit, eum
      amet aliquid dolore, tenetur tempore nesciunt eligendi impedit? Ab nam
      numquam ex cumque? Laudantium autem doloremque accusantium accusamus
      mollitia reprehenderit ipsa ex ratione blanditiis qui, iusto tempora,
      neque, fugit itaque alias sapiente ut quibusdam! Eius reprehenderit modi
      delectus laudantium maiores dignissimos ipsam eveniet?
    </p>
<%- include("partials/footer"); %>